* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todoTable {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

table {
  border: white;
}

thead > tr > th {
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  min-width: 100px;
}

tbody > tr > td {
  padding: 10px 15px;
  color: white;
  text-align: center;
}

.completeTd {
  cursor: pointer;
}
